<h3><%= link_to "Recreate This Contest", contest_path(@contest), method: :delete %></h3>
Ready to publish? You must vote on two other users contest first!
<h3><%= link_to "Vote", contest_path(@contest.random_contest) %></h3>

<p>
  <% @photos.each do |photo| %>
   <div class="contest-image"><%= link_to image_tag(photo.url), contest_votes_path(@contest, photo: photo), method: :post, action: :create %></div>
  <% end %>
</p>