<h1>New Contest</h1>

<div class="normalize">
  <ul>
    <% current_user.photos.each do |photo| %>
      <li><%= link_to  image_tag(photo.url), contests_path, method: :post %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to 'Back', contests_path %></p>
