<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contest.user_id %>
</p>

<p>
  <% @photos.each do |photo| %>

   <div class="contest-image"><%= link_to image_tag(photo.url), contest_votes_path(@contest, photo: photo), method: :post, action: :create %></div>
  <% end %>
</p>

<%= link_to 'Back', contests_path %>
