<p class="vote-instructions">Click on your favorite photo to vote!</p>

<div class="row">
	<% @photos[0..1].each do |photo| %>
		<div class="medium-4 column contest-image">
			<%= link_to image_tag(photo.url), contest_votes_path(@contest, photo: photo), method: :post, action: :create %>
		</div>
	<% end %>
</div>

<div class="row">
	<% @photos[2..3].each do |photo| %>
		<div class="medium-4 column end contest-image">
			<%= link_to image_tag(photo.url), contest_votes_path(@contest, photo: photo), method: :post, action: :create %>
		</div>
	<% end %>
</div>
