<h2> Hi <%= @user.name %>,</h2>
<% if @user.contests.exists? %>
  <% contest = @user.contests.first %>
  <% photos = contest.photos %>

  <% highest_voted = 0 %>
  <% photo_id = 0 %>
  <% photo_url = "" %>
  <% photos.each do |photo| %>
    <% photo_id = photo.id if photo.vote_count > highest_voted %>
    <% photo_url = photo.url if photo.vote_count > highest_voted %>
    <% highest_voted = photo.vote_count if photo.vote_count > highest_voted %>
  <% end %>
  
  <!-- Below is a very hacky way of checking if user has a contest with any photos -->
  <% if photo_url != "" %>
    <h3> The people have spoken ... this is your best photo! </h3>
    <%= image_tag(photo_url) %>
  <% else %>
  <h3> You have no contests yet, or no votes on your contest. </h3>
  <% end %>
<% end %>

<% if Contest.exists?(1) %>
  <%= link_to "Vote on another contest", contest_path(Contest.all.sample) %>
<% end %>

<%= link_to "Make a new contest", new_contest_path %>
