<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<div class="container">
	<p class="large-text">Select five photos for your contest.</p>
	<% if @contest.photos.count == 5 %>
		<h2><%= link_to "Create contest", edit_contest_path(@contest) %></h2>
	<% end %>

	<div class="button submit-button">
	Submit Photos
	</div>

	<div class="normalize">
		<% @photos.each do |photo| %>
			<%= image_tag(photo.url, class: "contest-image", id: photo.id) %>
		<% end %>
	</div>
</div>

<script>
var current_url = location.href
var selectedPhotos = []

$( function() {
	$('img').click( function() {
		$(this).toggleClass('chosen-photo');
	});
});

$('.submit-button').click( function() {

	$('.chosen-photo').each(function(i, obj) {
		selectedPhotos.push(obj.id)
	});

	$.ajax({
    url: 'photos/1/edit',
    type: 'GET',
		dataType: 'json',
		data: { selectedPhotos: selectedPhotos }
	});
});
</script>
