<h1>Select five photos for your contest.</h1>

<h2><%= link_to "View your contest", edit_contest_path(@contest) %></h2>
<div class="normalize">

<% @photos.each do |photo| %>
 <%= link_to image_tag(photo.url), edit_contest_photo_path(@contest, photo), class: "contest-image" %>
<% end %>
</div>
