.splash-container {
/* 	background-image: url("selfie-image.png");
height: 800px; */
	background-color: #e0dede;
	height: 100%;
}

.create-contest-button {
	margin-top: 5em;
}

.vote-button {
	margin-top: 5em;
}

.splash-text-first {
	color:white;
	margin-top: 2em;
	font-size: 42px;
	text-align: center;
}

.splash-text-second {
	color:white;
	font-size: 28px;
	text-align: center;
}
